<template>
    <div class="container">
<!--        {{array}}-->
        <textarea v-model="minusset" rows="5" cols="40" class="form-control"
                  placeholder="1.2.3.3-1.2.3.10
1.2.3.5-3.4.5.6"></textarea>
        <button @click="send">Send</button>

        <div>
            Ranges:
            <div v-for="ip in ip_range_str">0,0,0,0-{{ip}}-255,255,255,255</div>
            CIDRs:
            <div v-for="cid in CIDR">{{cid}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                minusset: [],
                array: [],
                CIDR: [],
                ip_range_all: [],
                ip_range_str: []
            }
        },
        mounted() {
            // this.update()
        },
        methods:{
            send: function () {
                var array = this.minusset.split("\n");
                var ip_range_all = [];
                var ip_range_str = [];
                var CIDR = [];
                array.forEach(function(value, key){
                    var ip_range = value.split('-');
                    var ip_range_one = ip_range[0];
                    var ip_range_two = ip_range[1];
                    var ip_from = ip_range_one.split('.');
                    var ip_to = ip_range_two.split('.');
                    var arr = range_from(ip_from, ip_to, ip_range_all, ip_range_str, CIDR, key)

                    ip_range_all = arr.ip_range_all;
                    ip_range_str = arr.ip_range_str;
                    CIDR = arr.CIDR;
                });
                this.ip_range_all = ip_range_all;
                this.ip_range_str = ip_range_str;
                this.CIDR = CIDR;

                function range(ip_one, ip_two) {
                    var ip =[];
                    var a1 = randomInteger(ip_one[0], ip_two[0]);
                    var a2 = randomInteger(ip_one[1], ip_two[1]);
                    var a3 = randomInteger(ip_one[2], ip_two[2]);
                    var a4 = randomInteger(ip_one[3], ip_two[3]);
                    var maska_1 = 255 - a1;
                    var maska_2 = 255 - a2;
                    var maska_3 = 255 - a3;
                    var maska_4 = 255 - a4;

                    var b1 = getNumbersSum(maska_1.toString(2))
                    var b2 = getNumbersSum(maska_2.toString(2))
                    var b3 = getNumbersSum(maska_3.toString(2))
                    var b4 = getNumbersSum(maska_4.toString(2))

                    var s = +b1 + +b2 + +b3+ +b4;
                    console.log(s);
                    ip = a1+','+a2+','+a3+','+a4+'/'+s;
                    return ip;
                }
                function getNumbersSum(num){
                    return num.toString().split('').reduce(function(a, b) {
                        return +a + +b;
                    })
                }
                function randomInteger(min, max) {
                    let rand = min + Math.random() * (max - min);
                    return Math.round(rand);
                }
                function range_from(ip_from, ip_to, ip_range_all, ip_range_str, CIDR, key) {
                    var dip=true
                    var p3 =0;
                    var p2 = 0;
                    var p1 = 0;
                    var p0 = 0;
                    if (ip_from[3] > 0){
                        p3= ip_from[3] - 1;
                    }else{dip = false; p3 = 255;}

                    if(dip){
                        p2 = ip_from[2];
                        dip=true;
                    }else{
                        if (ip_from[2] > 0){p2 = ip_from[2] - 1; dip=true;}else{p2 = 255; dip = false;}
                    }

                    if(dip){
                        p1 = ip_from[1];
                        dip=true;
                    }else{
                        if (ip_from[1] > 0){p1 = ip_from[1] - 1; dip=true;}else{p1 = 255; dip = false;}
                    }

                    if(dip){
                        p0 = ip_from[0];
                        dip=true;
                    }else{
                        if (ip_from[0] > 0){p0 = ip_from[0] - 1; dip=true;}else{p0 = 0; dip = false;}
                    }
                    var ip_one = [Number(p0), Number(p1), Number(p2), Number(p3)];
                    var str_ip_one = Number(p0)+','+Number(p1)+','+Number(p2)+','+Number(p3);

                    if (ip_to[3] < 255){
                        var dip=true;
                        p3= +ip_to[3] + 1;
                    }else{dip=false; p3 = 0;}
                    if(dip){
                        var dip=true;
                        p2 = ip_to[2];
                    }else{
                        if (ip_to[2] < 255){p2 = +ip_to[2] + 1; dip=true;}else{p2 = 0; dip = false;}
                    }
                    if(dip){
                        dip=true;
                        p1 = ip_to[1];
                    }else{
                        if (ip_to[1] < 255){p1 = +ip_to[1] + 1; dip=true;}else{p1 = 0; dip = false;}
                    }
                    if(dip){
                        p0 = ip_to[0];
                        dip=true;
                    }else{
                        if (ip_to[0] < 255){p0 = +ip_to[0] + (+1); dip=true;}else{p0 = 255; dip = false;}
                    }
                    var ip_two = [Number(p0), Number(p1), Number(p2), Number(p3)];

                    CIDR[key] = range(ip_one, ip_two);

                    var str_ip_two = str_ip_one+';  '+Number(p0)+','+Number(p1)+','+Number(p2)+','+Number(p3);
                    ip_range_all[key] = {ip_one, ip_two}
                    ip_range_str[key] = str_ip_two;

                    return {'ip_range_all': ip_range_all, 'ip_range_str': ip_range_str, 'CIDR': CIDR};
                }
            }
            // range_from: function (ip_from) {
            //     console.log(ip_from);
            // }
        }
    }
</script>


<!--1.2.3.4-1.2.3.200-->
<!--1.2.4.40-1.2.5.30-->
