<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="font-size: 22px;">
                    <div class="card-header">Example Component</div>

                    <button @click="update" class="btn btn-default text mb-1" v-if="!is_refresh">Обновить - {{id}} ...</button>
                    <span class="badge badge-primary mb-1" v-if="is_refresh">Обновление ...</span>
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="url in urldata">
                                    <td>{{url.title}}</td>
                                    <td>{{url.url}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                urldata: [],
                is_refresh: false,
                id: 0
            }
        },
        mounted() {
            this.update()
        },
        methods:{
            update: function () {
                console.log('+')
                this.is_refresh = true
                axios.get('/ajax/getJson').then((response) => {
                    console.log(response)
                    this.urldata = response.data
                    this.is_refresh = false
                    this.id++
                });
            }
        }
    }
</script>
