<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="font-size: 22px;">
                    <div class="card-header">Example Component</div>
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="url in urldata">
                                    <td>{{url.title}}</td>
                                    <td>{{url.url}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'urldata'
        ],
        mounted() {
            this.update()
        },
        methods:{
            update: function () {
                console.log(this.urldata);
            }
        }
    }
</script>
