<template>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" v-if="company">#</th>
                <th scope="col">Компания</th>
                <th scope="col">Страна</th>
                <th scope="col">Сотрудник</th>
                <th scope="col" v-if="user || company">Дата</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="employee in employees">
                <th scope="row" v-if="company">
                    <div class="material-switch pull-right">
                        <input @click="fired_user_employees(employee.user_id, employee.company_id)" :id="'employeeSwitch'+employee.user_id" :value="employee.user_id"  type="checkbox" v-model="checked" />
                        <label :for="'employeeSwitch'+employee.user_id" class="label-danger"></label>
                    </div>
                </th>
                <td>
                    <router-link :to="{query: { company: employee.company_id} }">{{employee.title}}</router-link>
                </td>
                <td>
                    <router-link :to="{query: { country: employee.country_id} }">{{employee.name}}</router-link>
                </td>
                <td>
                    <router-link :to="{query: { user: employee.user_id} }">{{employee.first_name}} {{employee.second_name}}</router-link>
                </td>
                <td v-if="user || company">Актуально</td>
            </tr>

            <tr v-for="fired in fired_employees">
                <th scope="row" v-if="company"></th>
                <td>
                    <router-link :to="{query: { company: fired.company_id} }">{{fired.title}}</router-link>
                </td>
                <td>
                    <router-link :to="{query: { country: fired.country_id} }">{{fired.name}}</router-link>
                </td>
                <td>
                    <router-link :to="{query: { user: fired.user_id} }">{{fired.first_name}} {{fired.second_name}}</router-link>
                </td>
                <td v-if="user || company">
                    {{new Date(fired.date_employment).getDate() + '.' + month[new Date(fired.date_employment).getMonth()] +'.'+ new Date(fired.date_employment).getFullYear()}} -
                    {{new Date(fired.date_dismissal).getDate() + '.' + month[new Date(fired.date_dismissal).getMonth()] +'.'+ new Date(fired.date_dismissal).getFullYear()}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                fired_employees: [],
                employees: [],
                checked: [],
                month : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                myDate: null
            }
        },
        mounted() {
            this.update()
        },
        computed: {
            company() {this.update(); return this.$route.query.company},
            user() {this.update(); return this.$route.query.user},
            country() {this.update(); return this.$route.query.country}
        },
        methods:{
            update: function () {
                var company = this.$route.query.company;
                var user = this.$route.query.user;
                var country = this.$route.query.country;

                let token = document.head.querySelector('meta[name="csrf-token"]');
                window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;
                axios.post('/getEmployee', {company, user, country}).then((response) => {
                    this.employees = response.data.employees
                    this.fired_employees = response.data.fired_employees
                });
            },
            fired_user_employees: function (user_id, company_id) {

                let token = document.head.querySelector('meta[name="csrf-token"]');
                window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;
                axios.post('/addEmployee', {user_id, company_id}).then((response) => {
                    this.update();
                });
            }
        }
    }
</script>
