@media (min-width: 1500px) {
  .container {
    width: 1400px;
  }
  .product_item .product_images {
    height: 245px;
  }
}
@media (max-width: 1200px) {
  .catalog_section .main_column .categories_row .item img {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .menu .menu_container .menu_list {
    padding-left: 320px;
  }
  .main_column_banner h2 {
    font-size: 40px;
  }
  .main_banner .banner_content h2 {
    font-size: 78px;
  }
  .main_banner .banner_content.side h2 {
    font-size: 56px;
  }
  .main_banner .banner_content p {
    font-size: 16px;
  }
  .product_item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }
  .main_column_banner .banner_content.side {
    display: none;
  }
}
@media (min-width: 992px) {
  .show_md {
    display: none!important;
  }
  .vis_show_md {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -99;
  }
}
@media (max-width: 991px) {
  .catalog_section .side_column {
    padding-top: 30px;
    width: 30%;
  }
  .catalog_section .main_column {
    margin-left: 0;
    width: -webkit-calc(70% - 20px);
    width: calc(70% - 20px);
  }
  .catalog_section .main_column .categories_row .item {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .catalog_section .side_column .weather {
    margin-bottom: 30px;
  }
  .catalog_section .side_column .side_btn {
    margin-bottom: 30px;
  }
  .second_header .row {
    width: unset;
    margin-right: -15px;
    margin-left: -15px;
  }
  .inner_footer .row {
    width: 100%;
  }
  .menu .menu_container .menu_list {
    padding-left: 220px;
  }
  .hide_md {
    display: none;
  }
  .show_md {
    display: block;
  }
  .banner .banner_content h2 {
    font-size: 64px;
  }
  .banner .banner_content.side h2 {
    font-size: 40px;
  }
  .banner .banner_content p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .inner_footer .row {
    height: 100%;
  }
  .inner_footer .footer_banner .container {
    padding: 0;
    width: 100%;
  }
  .inner_footer .footer_banner .banner_content.center {
    border-top: 3px solid #020202;
    border-bottom: 3px solid #020202;
    padding: 30px 0;
  }
  .inner_footer .footer_banner {
    padding: 30px 0;
    height: 400px;
    background-image: url(../../img/footer_mobile_bg.png);
  }
  .catalog_section .side_column .column_banner {
    height: 280px;
  }
  .product_item .product_images {
    height: 240px;
  }
  .product_item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .catalog_section .main_column .products_block .products_list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .banner .banner_content h2 {
    font-size: 48px;
  }
  .menu .menu_container .menu_list {
    padding-left: 0px;
  }
  .main_banner {
    background-image: url(../../img/mobile_bg.png);
    background-position: center;
    height: -webkit-calc(60vh + 60px);
    height: calc(60vh + 60px);
    top: -webkit-calc(50% + 30px);
    top: calc(50% + 30px);
  }
  .main_banner .banner_content {
    width: 100%;
  }
  header {
    padding: 20px 15px;
  }
  footer .social_icons {
    display: none;
  }
  footer .footer_menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  footer .footer_menu a {
    font-size: 14px;
    margin: 0;
  }
  .main_banner .banner_content.left {
    top: 30px;
  }
  .main_banner .banner_content.right {
    bottom: 30px;
    top: unset;
  }
  .main_banner .banner_content.center {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
  .main_banner .container {
    top: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    height: 100%;
  }
  .main_banner .banner_content {
    text-align: center!important;
    left: 50%!important;
    -webkit-transform: translate(-50%) !important;
        -ms-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
  }
  .main_header .logo_block {
    top: 50px;
  }
  .main_header .logo_block img {
    width: 140px;
  }
}
@media (max-width: 767px) and (max-height: 690px) {
  .main_header .logo_block {
    top: 0;
  }
  .main_banner {
    top: -webkit-calc(50% + 10px);
    top: calc(50% + 10px);
    height: -webkit-calc(50vh + 60px);
    height: calc(50vh + 60px);
  }
}
.show_xs {
  display: none!important;
}
@media (max-width: 575px) {
  header .search_form.active {
    -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  .logo_block {
    top: 40px;
  }
  .second_header {
    height: 140px;
  }
  .show_xs {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .inner_footer .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .inner_footer .footer_menu {
    display: none;
  }
  .inner_footer .social_icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .inner_footer .logo_block {
    padding-top: 40px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .catalog_section .main_column {
    padding-bottom: 0;
  }
  .catalog_section .main_column .products_block {
    padding-bottom: 0;
  }
  .catalog_section .main_column .categories_row {
    padding: 0;
  }
  .catalog_section .main_column .categories_row .item {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    border-bottom: 2px solid #bbb;
    height: auto;
    padding: 10px 20px;
    background: #fff;
  }
  .catalog_section .main_column .categories_row .item h4 {
    margin-top: 0;
    font-size: 22px;
  }
  .catalog_section .main_column .categories_row .item img {
    width: 100px;
    height: 40px;
    margin-left: auto;
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
  }
  .catalog_section .main_column .products_block .products_list {
    padding: 0;
  }
  .product_item .product_images {
    height: 280px;
  }
  .catalog_section .main_column .products_block {
    background: #fff;
  }
  .catalog_section .main_column .products_block h2 {
    color: #5F5F5F;
  }
  .catalog_section .main_column {
    width: 100%;
    margin: 0;
  }
  .hide_xs {
    display: none!important;
  }
  .menu .menu_container {
    padding-top: 0;
  }
  .menu .menu_container .menu_list.second_menu_list {
    margin: 0;
    background: unset;
    padding: 0;
  }
  .menu .menu_container .second_menu_list:after {
    display: none;
  }
  header .search_form {
    right: 50px;
    -webkit-transform: translate(0, -100px);
        -ms-transform: translate(0, -100px);
            transform: translate(0, -100px);
    left: unset;
  }
  .menu .menu_container {
    padding-left: 15px;
    overflow: auto;
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    margin-top: 50px;
    display: block;
  }
  .profile_menu {
    margin-top: 30px;
  }
  .menu .menu_container a:last-child {
    margin-bottom: 20px;
  }
  .menu .menu_container a {
    width: 100%;
    display: block;
  }
  header .menu_block .search_block {
    display: none;
  }
  .menu .menu_container .close_icon {
    right: 15px;
    top: 100px;
  }
  .menu .menu_container .user_icon {
    margin-right: 0px;
  }
  .menu {
    background: #020202;
  }
}
@media (max-width: 375px) {
  .banner .banner_content h2 {
    font-size: 48px;
  }
  .banner .banner_content.side h2 {
    font-size: 36px;
  }
  .main_header .logo_block img {
    width: 120px;
  }
}
