@font-face {
  font-family: Helvetica;
  src: url('../../fonts/HelveticaNeueCyr-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: nexa;
  src: url('../../fonts/Nexa-XBold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: nexa;
  src: url('../../fonts/Nexa-Light.ttf');
  font-weight: 300;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: #5C5C5C;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
button,
textarea::-webkit-input-placeholder {
  font-family: Arial;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
button,
textarea::-moz-placeholder {
  font-family: Arial;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
button,
textarea:-ms-input-placeholder {
  font-family: Arial;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
button,
textarea::-ms-input-placeholder {
  font-family: Arial;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
button,
textarea::placeholder {
  font-family: Arial;
  border: none;
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
body {
  font-family: nexa;
  font-weight: bold;
  color: #5C5C5C;
  background: #eee;
}
section {
  position: relative;
}
/* Mixins */
.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.lrtb {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.main_page {
  background: #020202;
  height: 100vh;
  width: 100%;
  position: relative;
}
.banner {
  height: 45vh;
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../../img/bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.banner .container {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.banner .banner_content {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.banner .banner_content h2 {
  font-size: 96px;
  font-family: Helvetica;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 0.75;
}
.banner .banner_content h2 span {
  color: #EDFC03;
}
.banner .banner_content p {
  margin-top: 10px;
  line-height: 1;
  font-size: 18px;
}
.banner .banner_content.center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.banner .banner_content.left {
  left: 0;
}
.banner .banner_content.right {
  right: 0;
}
.banner .banner_content.side {
  text-align: left;
}
.banner .banner_content.side h2 {
  font-size: 64px;
}
.banner .banner_content.side h2 span {
  color: #6BF3FD;
}
.banner .banner_content.side p {
  color: #6BF3FD;
}
.main_header .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_header .logo_block {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.main_header .logo_block img {
  width: 180px;
}
.logo_block {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.logo_block img {
  width: 120px;
}
.second_header {
  position: relative;
}
.second_header .row {
  margin: 0 auto;
  width: -webkit-calc(65% - 20px);
  width: calc(65% - 20px);
}
header {
  background: #020202;
  padding: 30px 0;
}
header .search_form {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -100px);
      -ms-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
  z-index: 30000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
header .search_form.active {
  opacity: 1;
  -webkit-transform: translate(-50%, 0px) !important;
      -ms-transform: translate(-50%, 0px) !important;
          transform: translate(-50%, 0px) !important;
}
header .search_form:focus::-webkit-input-placeholder {
  opacity: 0;
}
header .search_form:focus::-moz-placeholder {
  opacity: 0;
}
header .search_form:focus:-ms-input-placeholder {
  opacity: 0;
}
header .search_form:focus::-ms-input-placeholder {
  opacity: 0;
}
header .search_form:focus::placeholder {
  opacity: 0;
}
header .search_form input {
  height: 28px;
  width: 220px;
  background: #ffffff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 0 15px;
  text-align: center;
  font-weight: 300;
  color: #020202;
  font-size: 16px;
}
header .search_form input::-webkit-input-placeholder {
  font-size: 16px;
  color: #bbb;
}
header .search_form input::-moz-placeholder {
  font-size: 16px;
  color: #bbb;
}
header .search_form input:-ms-input-placeholder {
  font-size: 16px;
  color: #bbb;
}
header .search_form input::-ms-input-placeholder {
  font-size: 16px;
  color: #bbb;
}
header .search_form input::placeholder {
  font-size: 16px;
  color: #bbb;
}
header .user_block {
  position: relative;
  z-index: 20000;
  margin-left: auto;
}
header .user_icon img {
  height: 30px;
}
.menu_block {
  position: relative;
  z-index: 20000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_block img {
  cursor: pointer;
  height: 30px;
}
.menu_block .search_block {
  margin-left: 10px;
}
.menu_block .search_block img {
  height: 24px;
}
.main_column_banner {
  position: relative;
  height: 140px;
  background-color: #020202;
  background-image: url(../../img/bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  left: unset;
  right: unset;
  top: unset;
}
.main_column_banner .banner_content br {
  display: none;
}
.main_column_banner .banner_content h2 {
  font-size: 48px;
}
.main_column_banner .banner_content.left {
  left: 30px;
}
.main_column_banner .banner_content.side h2 {
  font-size: 28px;
}
.main_column_banner .banner_content.side p {
  font-size: 10px;
}
.main_column_banner .banner_content.right {
  right: 30px;
}
.inner_footer {
  position: relative;
  bottom: unset;
  left: unset;
  background: #020202;
  right: unset;
}
.inner_footer .social_icons {
  margin: 30px 0;
}
.inner_footer .row {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.inner_footer .footer_banner {
  margin-bottom: 20px;
  top: unset;
  height: 80px;
  background: url('../../img/gradient.png');
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}
.inner_footer .footer_banner .banner_content h2 {
  font-size: 32px!important;
}
.inner_footer .footer_banner .banner_content br {
  display: none;
}
.inner_footer .footer_banner .banner_content p {
  font-size: 10px!important;
}
footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
footer .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_menu a {
  margin: 0 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
footer .footer_menu a span {
  color: #6BF3FD;
}
footer .social_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
footer .social_icons a {
  margin: 0 3px;
  height: 25px;
  width: 25px;
  background: #EDFC03;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .social_icons a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}
.catalog_section .main_column {
  padding-bottom: 80px;
  width: -webkit-calc(65% - 40px);
  width: calc(65% - 40px);
  margin: 0 20px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
.catalog_section .main_column .products_block {
  background: #bbb;
  padding: 60px 0px;
}
.catalog_section .main_column .products_block .products_list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}
.catalog_section .main_column .products_block .products_list .flickity-viewport {
  width: 100%;
}
.catalog_section .main_column .products_block .products_list .flickity-button {
  height: 30px;
  width: 30px;
  color: #ffffff;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.catalog_section .main_column .products_block .products_list .flickity-button .flickity-button-icon {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.catalog_section .main_column .products_block h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}
.catalog_section .side_column {
  width: 17.5%;
  padding-top: 140px;
  position: relative;
}
.catalog_section .side_column .side_btn {
  margin-bottom: 15px;
}
.catalog_section .side_column .side_btn a {
  height: 35px;
  width: 100%;
  background: #6BF3FD;
  font-weight: bold;
  color: #5C5C5C;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog_section .side_column .weather {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 15px;
}
.catalog_section .side_column .weather img {
  width: 100%;
  height: 295px;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog_section .side_column .product_item {
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 15px;
}
.catalog_section .side_column .column_banner {
  width: 100%;
  display: block;
  height: 400px;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}
.catalog_section .side_column .column_banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
  margin: 0 15px;
}
.product_item .flickity-button {
  color: #EDFC03 !important;
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
  height: 20px!important;
  width: 20px!important;
}
.product_item .product_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  right: 0;
  padding: 5px 10px;
  height: 35px;
  z-index: 200;
}
.product_item .product_header h4 {
  font-family: Arial;
  font-weight: 400;
}
.product_item .product_header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_item .product_header .logo img {
  height: 20px;
}
.product_item .product_header .photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
}
.product_item .product_header .photos img {
  height: 14px;
  margin-right: 6px;
}
.product_item .product_header .user_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.product_item .product_header .user_icon img {
  height: 20px;
}
.product_item .product_images {
  height: 235px;
  position: relative;
}
.product_item .product_brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #EDFC03;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}
.product_item .product_brand img {
  height: 25px;
}
.product_item .product_desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: Arial;
  font-weight: 400;
  padding: 10px;
  background: #fff;
}
.product_item .product_desc .date {
  margin-left: auto;
  color: #5F5F5F;
  font-size: 18px;
}
.product_item .product_desc h3 {
  font-size: 18px;
  font-weight: 400;
}
.product_item .product_desc .info_row {
  color: #5F5F5F;
  font-size: 11px;
  margin-top: 10px;
  width: 100%;
}
.product_item .carousel {
  height: 100%;
  width: 100%;
  position: relative;
}
.product_item .carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product_item .btns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}
.product_item .btns img {
  height: 16px;
}
.product_item .btns h4 {
  line-height: 1;
  font-size: 20px;
  margin: 0 auto;
  font-weight: 400;
  font-family: Arial;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.65s;
  -o-transition: 0.65s;
  transition: 0.65s;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  z-index: 2000;
  opacity: 0;
  overflow: hidden;
}
.menu.active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
.menu .menu_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 100px;
}
.menu .menu_container .second_menu_list {
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
}
.menu .menu_container .second_menu_list:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #5C5C5C;
  width: 2200px;
  left: -600px;
  right: -600px;
}
.menu .menu_container .second_menu_list a {
  position: relative;
  z-index: 20;
}
.menu .menu_container .menu_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 380px;
}
.menu .menu_container .close_icon {
  position: absolute;
  right: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #EDFC03;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.menu .menu_container .close_icon:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menu .menu_container .close_icon img {
  height: 20px;
}
.menu .menu_container .profile_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .menu_container .profile_menu span {
  opacity: 1;
  color: #EDFC03;
}
.menu .menu_container .user_icon {
  position: relative;
  margin-left: auto;
}
.menu .menu_container .user_icon img {
  height: 30px;
}
.menu .menu_container .user_icon .notifications {
  position: absolute;
  top: -5px;
  height: 22px;
  width: 22px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #EDFC03;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
  left: -5px;
  color: #020202;
}
.menu .menu_container a {
  color: #fff;
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
  width: 300px;
}
.menu .menu_container a:last-child {
  margin-bottom: 0;
}
.menu .menu_container a span {
  opacity: 0.65;
}
.menu .menu_container .close_menu {
  color: #EDFC03;
}
.menu .menu_container .close_menu img {
  height: 18px;
}
.menu .menu_container .close_menu b {
  margin-left: 10px;
}
.inner_search_block {
  padding: 30px 10px;
  background: #fff;
  position: relative;
  z-index: 30;
  -webkit-box-shadow: 0 2px 7.5px rgba(0, 0, 0, 0.55);
          box-shadow: 0 2px 7.5px rgba(0, 0, 0, 0.55);
}
.inner_search_block .filter_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #6BF3FD;
  padding: 8px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.inner_search_block p {
  color: #5C5C5C;
  font-size: 14px;
}
.inner_search_block .selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.inner_search_block .selects p {
  margin-right: 8px;
}
.inner_search_block .selects .types_list {
  background: #fff;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 200px;
  overflow: auto;
}
.inner_search_block .selects .types_list button {
  height: 24px;
  padding: 0 14px;
  margin-left: -14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  background: unset;
}
.inner_search_block .selects .types_list button span {
  position: relative;
  color: #5C5C5C;
  z-index: 200;
}
.inner_search_block .selects .types_list button:after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  background: #ccc;
  z-index: 20;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.inner_search_block .selects .types_list button:hover:after {
  opacity: 1;
}
.inner_search_block .selects .types_list button:first-child {
  margin-left: 0;
}
.inner_search_block .save_btn {
  width: 140px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: #5C5C5C;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 11px;
  position: relative;
  z-index: 20;
  margin-left: 8px;
}
.inner_search_block .save_btn img {
  margin-left: auto;
  height: 15px;
}
.inner_search_block .select_block {
  width: 130px;
  position: relative;
  margin-left: 20px;
}
.inner_search_block .select_block .dropdown_title {
  width: 100%;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: #5C5C5C;
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 20;
  cursor: pointer;
}
.inner_search_block .select_block .dropdown_title p {
  font-weight: 300;
  color: #fff;
}
.inner_search_block .select_block .dropdown_title img {
  margin-left: auto;
  height: 8px;
}
.inner_search_block .select_block .dropdown_block {
  position: absolute;
  top: 0;
  padding-top: 28px;
  left: 0;
  right: 0;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  background: #fff;
  display: none;
}
.inner_search_block .select_block .dropdown_block .dropdown_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 15px;
  color: #5C5C5C;
}
.inner_search_block .select_block .dropdown_block .dropdown_item:hover {
  background: #cccccc;
}
.categories_row,
.subcategory_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 40px 20px;
  -webkit-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 15px rgba(0, 0, 0, 0.15);
}
.categories_row .item,
.subcategory_row .item {
  width: -webkit-calc(20% - 20px);
  width: calc(20% - 20px);
  margin: 10px;
  background: #BBBBBB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.categories_row .item:hover,
.subcategory_row .item:hover {
  background: #6BF3FD;
}
.categories_row .item img,
.subcategory_row .item img {
  height: 60px;
  -o-object-position: bottom center;
     object-position: bottom center;
  -o-object-fit: contain;
     object-fit: contain;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
.categories_row .item h4,
.subcategory_row .item h4 {
  padding: 0 5px;
  color: #5C5C5C;
}
.subcategory_block {
  padding-top: 30px;
  background: #BBBBBB;
}
.subcategory_products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 15px;
}
.subcategory_products .product_item {
  margin-bottom: 30px;
}
.subcategory_row {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background: unset;
  padding-top: 0;
}
.subcategory_row .item {
  background: #fff;
}
.filter_block {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
}
.filter_block .btns_block {
  width: 100%;
  padding: 0 15px;
  margin-top: 50px;
}
.filter_block .btns_block button {
  margin: 0 auto;
  margin-top: 30px;
  width: 140px;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  background: #5C5C5C;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 14px;
  cursor: pointer;
}
.filter_block .btns_block button img {
  margin-left: auto;
  height: 15px;
}
.filter_block .clear_btn {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 0 15px;
  margin-top: 40px;
  font-weight: bold;
  color: #5C5C5C;
  background: #EDFC03;
  height: 32px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter_block .category_title {
  background: #6BF3FD;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  font-size: 22px;
  margin-bottom: 60px;
}
.filter_block .search_input {
  position: relative;
  padding: 0 15px;
  margin-bottom: 50px;
}
.filter_block .search_input input {
  width: 100%;
  background: #eeeeee;
  height: 28px;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  padding-left: 12px;
  padding-right: 35px;
}
.filter_block .search_input img {
  position: absolute;
  top: 50%;
  right: 30px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.filter_block .filter_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}
.filter_block .filter_list .filter_item {
  width: 100%;
  margin-bottom: 30px;
}
.filter_block .filter_list .filter_item .filter_title {
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.filter_block .filter_list .filter_item .filter_title:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  background: -webkit-gradient(linear, right top, left top, from(#e9e9e9), color-stop(60%, rgba(233, 233, 233, 0)));
  background: -webkit-linear-gradient(right, #e9e9e9, rgba(233, 233, 233, 0) 60%);
  background: -o-linear-gradient(right, #e9e9e9, rgba(233, 233, 233, 0) 60%);
  background: linear-gradient(to left, #e9e9e9, rgba(233, 233, 233, 0) 60%);
}
.filter_block .filter_list .filter_item .filter_title .icon {
  margin-right: 16px;
  height: 25px;
}
.filter_block .filter_list .filter_item .filter_title h4 {
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.filter_block .filter_list .filter_item .filter_title .arrow {
  margin-left: auto;
  height: 8px;
  margin-right: 12px;
  position: relative;
  z-index: 20;
}
.catalog_section .product_column .other_products {
  background: #eeeeee;
  margin-top: 70px;
}
.catalog_section .product_column .other_products h2 {
  color: #5C5C5C;
  font-weight: bold;
  font-size: 32px;
}
.product_column {
  background: #fff;
  padding: 0!important;
}
.product_column > .product_item {
  width: 100%;
  margin: 0;
}
.product_column > .product_item .product_info {
  padding: 30px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_column > .product_item .product_info .product_desc {
  width: 50%;
  padding: 0;
}
.product_column > .product_item .product_info .product_desc h3 {
  font-size: 26px;
}
.product_column > .product_item .product_info .product_desc .date {
  margin-left: 32px;
  font-size: 26px;
}
.product_column > .product_item .product_info .product_desc .info_row {
  font-size: 14px;
  margin-top: 24px;
}
.product_column > .product_item .product_info .product_btns {
  width: auto;
  margin-left: auto;
}
.product_column > .product_item .product_info .product_btns .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 200px;
  font-size: 14px;
  border: 1px solid #5C5C5C;
  padding-left: 24px;
  padding-right: 12px;
  margin-bottom: 8px;
}
.product_column > .product_item .product_info .product_btns .btn:last-child {
  margin-bottom: 0;
}
.product_column > .product_item .product_info .product_btns .btn.yellow {
  padding: 0;
  background: #EDFC03;
  border: none;
}
.product_column > .product_item .product_info .product_btns .btn .icons {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product_column > .product_item .product_info .product_btns .btn .icons a {
  background: #EDFC03;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
.product_column > .product_item .product_info .product_btns .btn .icons a img {
  width: 15px;
  height: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.product_column > .product_item .product_info .product_btns .btn .icons .icon {
  height: 18px;
}
.product_column > .product_item .description {
  font-family: Arial;
  font-weight: 400;
  padding: 40px 30px;
}
.product_column > .product_item .description h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.product_column > .product_item .description p {
  font-size: 16px;
  line-height: 1.5;
}
.product_column > .product_item .second_brand_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #EDFC03;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 30px;
}
.product_column > .product_item .second_brand_block .brand_logo {
  height: 35px;
  margin-right: auto;
}
.product_column > .product_item .second_brand_block .location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_column > .product_item .second_brand_block .location p {
  font-size: 14px;
}
.product_column > .product_item .second_brand_block .location a {
  margin-left: 20px;
  height: 28px;
  width: 100px;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  background: #5C5C5C;
  color: #fff;
}
.product_column > .product_item .contact_infos {
  padding: 40px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #5C5C5C;
}
.product_column > .product_item .contact_infos .contacts_row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product_column > .product_item .contact_infos .contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
  height: 28px;
  margin: 0 15px;
  font-size: 14px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  padding-left: 24px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.product_column > .product_item .contact_infos .contact_item img {
  height: 16px;
  margin-left: auto;
}
.product_column > .product_item .contact_infos .btns_block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product_column > .product_item .contact_infos .btns_block a {
  background: #fff;
  color: #5C5C5C;
}
.product_column > .product_item .contact_infos .btns_block a img {
  height: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product_column > .product_item .contact_infos .btns_block a.active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.product_column > .product_item .chat_block {
  display: none;
  background: #bbbbbb;
  padding: 40px 30px;
}
.product_column > .product_item .chat_block .close_btn {
  cursor: pointer;
  width: 350px;
  color: #fff;
  background: #606060;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 16px;
  height: 32px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_column > .product_item .chat_block .chat_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.product_column > .product_item .chat_block .chat_row:last-child {
  margin-bottom: 40px;
}
.product_column > .product_item .chat_block .chat_item {
  padding: 20px;
  width: -webkit-calc(50% - 32px);
  width: calc(50% - 32px);
  position: relative;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-family: Arial;
}
.product_column > .product_item .chat_block .chat_item .user_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_column > .product_item .chat_block .chat_item .user_info img {
  height: 48px;
  width: 48px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.product_column > .product_item .chat_block .chat_item .user_info .user_desc h4 {
  color: #fff;
  font-size: 22px;
  display: block;
}
.product_column > .product_item .chat_block .chat_item .user_info .user_desc p {
  color: #bbb;
  font-size: 14px;
  font-weight: 400;
}
.product_column > .product_item .chat_block .chat_item .msg_info {
  margin-top: 24px;
}
.product_column > .product_item .chat_block .chat_item .msg_info p {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.product_column > .product_item .chat_block .chat_item .msg_info h5 {
  font-size: 16px;
  color: #bbb;
  font-weight: 400;
}
.product_column > .product_item .chat_block .chat_item.question {
  background: #606060;
}
.product_column > .product_item .chat_block .chat_item.question .tail {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -15px;
  width: 85px;
}
.product_column > .product_item .chat_block .chat_item.highlighted {
  background: #EFF91E;
}
.product_column > .product_item .chat_block .chat_item.highlighted .user_info .user_desc h4 {
  color: #5C5C5C;
}
.product_column > .product_item .chat_block .chat_item.highlighted .user_info .user_desc p {
  color: #bbbbbb;
}
.product_column > .product_item .chat_block .chat_item.highlighted .msg_info p {
  color: #5C5C5C;
}
.product_column > .product_item .chat_block .chat_item.highlighted .msg_info h5 {
  color: #bbbbbb;
}
.product_column > .product_item .chat_block .chat_item.answer {
  background: #ffffff;
}
.product_column > .product_item .chat_block .chat_item.answer .tail {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -15px;
  width: 85px;
}
.product_column > .product_item .chat_block .chat_item.answer .user_info .user_desc h4 {
  color: #bbbbbb;
}
.product_column > .product_item .chat_block .chat_item.answer .msg_info p {
  color: #000;
}
.product_column > .product_item .chat_block .chat_item.answer .msg_info h5 {
  color: #5C5C5C;
}
.product_column > .product_item .info_list {
  background: #bbbbbb;
  padding: 40px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.product_column > .product_item .info_list .item {
  margin-bottom: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(50% - 32px);
  width: calc(50% - 32px);
}
.product_column > .product_item .info_list .item img {
  margin-right: 12px;
  height: 22px;
  -webkit-filter: invert(1) brightness(1000%);
          filter: invert(1) brightness(1000%);
}
.product_column > .product_item .info_list .item .option {
  color: #fff;
}
.product_column > .product_item .info_list .item .value {
  margin-left: auto;
}
.product_column > .product_item .product_images {
  height: 400px;
}
.product_column > .product_item .btns {
  padding: 10px 40px;
}
.product_column > .product_item .btns img {
  height: 24px;
}

















.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 15px green;
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
